body {
  width: 20rem;
  font-family: 'Inter', sans-serif;
  background-color: #1b2a41;
  color: #ccc9dc;
  margin: 1rem 1rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid #0c1821;
  border-radius: 10px;
}
li:hover {
  background-color: #324a5f;
}

h3,
p {
  margin: 0;
}

button {
  font-family: 'Inter', sans-serif;
  color: #ccc9dc;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: #324a5f;
  border: 1px solid #0c1821;
  border-radius: 10px;
}

button:hover {
  background-color: #7f8a9e;
  color: #1b2a41;
}